{% extends 'base.html' %}

{% block title %}
   Read - {{blog.topic}}
{% endblock %}
{% block content %}
   

      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-sm-12">
                  <div class="like_icon"><img src="{{ url_for('static',filename = "images/like-icon.png" ) }}"></div>
                  <p class="post_text">Post By : {{user.query.filter_by(id = blog.owner).first().name}} at {{blog.date}}</p>
                  <h2 class="most_text">{{ blog.topic }}</h2>
                  <p class="lorem_text">{{ blog.content }}</p>
                  <div class="social_icon_main">
                     <div class="social_icon">
                        <ul>
                           <li><a href="#"><img src="{{ url_for('static',filename = "images/fb-icon.png" ) }}"></a></li>
                           <li><a href="#"><img src="{{ url_for('static',filename = "images/twitter-icon.png" ) }}"></a></li>
                           <li><a href="#"><img src="{{ url_for('static',filename = "images/instagram-icon.png" ) }}"></a></li>
                        </ul>
                     </div>

                  </div>
               </div>
               <div class="col-lg-4 col-sm-12">
                  <div class="about_main">
                     <h1 class="follow_text">CONNECT & FOLLOW</h1>
                     <div class="follow_icon">
                        <ul>
                           <li><a href="#"><img src="{{ url_for('static',filename = "images/fb-icon-1.png" ) }}"></a></li>
                           <li><a href="#"><img src="{{ url_for('static',filename = "images/twitter-icon-1.png" ) }}"></a></li>
                           <li><a href="#"><img src="{{ url_for('static',filename = "images/linkedin-icon-1.png" ) }}"></a></li>
                           <li><a href="#"><img src="{{ url_for('static',filename = "images/instagram-icon-1.png" ) }}"></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% endblock %}
      <!-- blog section end --> 
      